autopep8          
blinker         
cffi               
click             
colorama          
cryptography       
DateTime        
dnspython         
email-validator   
Flask             
Flask-Login       
Flask-Mail        
Flask-MySQL       
Flask-SQLAlchemy  
Flask-Uploads     
Flask-WTF          
greenlet          
idna            
itsdangerous      
Jinja2            
MarkupSafe        
mysql             
mysqlclient       
pip                
pycodestyle       
pycparser        
PyMySQL           
pyodbc             
pytz               
setuptools         
six                
SQLAlchemy         
toml               
Werkzeug          
wheel              
WTForms           
WTForms-JSON      
WTForms-SQLAlchemy
zope.interface   