{% extends "users/base.html" %}

{% block content %}

<div class="app-main">
    <div class="add-user-card">
    <section class="forms-section">
        <h1 class="section-title">Admin</h1>
        <div class="forms">
            <div class="form-wrapper is-active">
                <button type="button" class="switcher switcher-login">
                    Add New User
                    <span class="underline"></span>
                </button>
                <form action="/user/submit_user" class="form form-login" method="post">
                    <!-- <form class="" action="/tickets/create_ticket" method="post"> -->
                    <fieldset>
                        <div class="input-block">
                            <label for="newuser-email">E-mail</label>
                            <input id="newuser-email" name="newuser-email" type="email" required>
                        </div>
                        <div class="input-block">
                            <label for="newuser-emp-id">Qualitel Employee ID</label>
                            <input id="newuser-emp-id" name="newuser-emp-id" type="number" required>
                        </div>
                        <div class="input-block">
                            <label for="newuser-fname">First Name</label>
                            <input id="newuser-fname" name="newuser-fname" type="text" required>
                        </div>
                        <div class="input-block">
                            <label for="newuser-lname">Last Name</label>
                            <input id="newuser-lname" name="newuser-lname" type="text" required>
                        </div>
                        <div class="input-block">
                            <label for="exampleSelect" class="">Select Access Level</label>
                            <select name="role-select" id="role-select" class="form-control">
                                <option value="4">Eng: User</option>                                
                                <option value="3">Eng: Admin</option>                                
                                <option value="6">Office: User</option>                                
                                <option value="5">Office: Admin</option>                                
                                <option value="2">IT: Admin</option>                                
                            </select>
                        </div>
                    </fieldset>
                    <button id="submit_new_user" type="submit" class="btn-login">Add User</button>
                </form>
            </div>
            <!-- <div class="form-wrapper">
            <button type="button" class="switcher switcher-signup">
                Sign Up
                <span class="underline"></span>
            </button>
            <form class="form form-signup">
                <fieldset>
                    <legend>Please, enter your email, password and password confirmation for sign up.</legend>
                    <div class="input-block">
                        <label for="signup-email">E-mail</label>
                        <input id="signup-email" type="email" required>
                    </div>
                    <div class="input-block">
                        <label for="signup-password">Password</label>
                        <input id="signup-password" type="password" required>
                    </div>
                    <div class="input-block">
                        <label for="signup-password-confirm">Confirm password</label>
                        <input id="signup-password-confirm" type="password" required>
                    </div>
                </fieldset>
                <button type="submit" class="btn-signup">Continue</button>
            </form>
        </div> -->
        </div>
    </section>
</div>
</div>

{% endblock %}