{% extends "tickets/base.html" %}

{% block content %}

<body>

<script type="text/javascript" src="{{ url_for('.static',filename='scripts/scripts.js') }}"></script>

<div class="app-main">    
    <div class="app-main__outer">
        <div class="app-main__inner">
            
            <div class="row">
                <div class="col-md-8">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <div class="row">

                            <h5 class="card-title">Create a New Ticket</h5>
                            
                            </div>
                            <form class="" action="/tickets/new_ticket" method="post">
                                {{ form.hidden_tag() }}
                                <div class="grid-menu grid-menu-2col">
                                    <div class="form-row">
                                        <div class="col-sm-6">
                                        <div class="position-relative form-group">
                                            {{ form.customer.label }}
                                            {{ form.customer(class='form-control') }}<br>                                        
                                        </div>
                                        </div>      
                                        <div class="col-sm-6">
                                            <div class="position-relative form-group">
                                                <!-- <label for="exampleEmail" class="">Assembly</label>
                                                <input name="assy_input" id="assy_input" type="text" class="form-control">
                                            </div> -->
                                                {{ form.assembly.label }}
                                                {{ form.assembly}}<br>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-sm-6">
                                            <div class="position-relative form-group">
                                                <!-- <label for="exampleEmail" class="">Part Number(s)</label>
                                                <input name="pn_input" id="pn_input" type="text" class="form-control"> -->
                                                    {{ form.partnumber.label }}
                                                    {{ form.partnumber}}<br>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="position-relative form-group">
                                                <!-- <label for="exampleEmail" class="">Work Order(s)</label>
                                                <input name="wo_input" id="wo_input" type="text" class="form-control"> -->
                                                    {{ form.workorder.label }}
                                                    {{ form.workorder}}<br>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                <div class="form-row">
                                    <div class="col-sm-6">
                                        <div class="position-relative form-group">
                                            <div class="position-relative form-group">
                                                {{ form.category.label }}
                                                {{ form.category(class='form-control') }}<br>
                                            </div>
                                    </div>
                                    </div>
                                    
                                    <div class="col-sm-6">
                                        <div class="position-relative form-group">
                                            <div class="position-relative form-group">
                                                {{ form.subcat.label }}
                                                {{ form.subcat(class='form-control') }}<br>
                                            </div>
                                    </div>
                                    </div>
                                </div>
                               
                                <p>{{ form.priority() }} {{ form.priority.label }}</p>
                                
                                <div class="position-relative form-group"><label for="exampleText" class="">Description/Details</label><textarea
                                   style="height: 150px;" name="details_input" id="details_input" class="form-control"></textarea>
                                </div>
                                
                                   
                                        <!-- <button id="submit_new_ticket" class="mt-1 btn btn-primary">Submit</button> -->
                                        <div class="input-block green-submit">
                                            <p>{{ form.submit()}}</p>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4">

                            <div class="main-card mb-3 card">
                                <div class="card-body">
                                    <h4 class="card-title">Open Tickets</h4>
                                    
                                    <div id="current_open_ticket_list">

                                    </div>
                                    </div>
                                </div>



                            <!-- <div class="main-card mb-3 card">
                                <div class="card-body">
                                    <h4 class="card-title">Instructions</h4>
                                    <h5 class="card-subtitle">Customer</h5>
                                    <p>asdf</p>
                                    <h5 class="card-subtitle">Assembly</h5>
                                    <p>asdf</p>
                                    <h5 class="card-subtitle">Part Number</h5>
                                    <p></p>
                                    <h5 class="card-subtitle">Link to Attachments</h5>
                                    <p></p>
                                    <h5 class="card-subtitle">Category</h5>
                                    <p></p>
                                    <h5 class="card-subtitle">Subcategory</h5>
                                    <p></p>
                                    <h5 class="card-subtitle">Description/Details</h5>
                                    <p></p>
                                    
                                    
                                    
                                </div>
                            </div> -->
                            </div>


                    <!-- <div class="modal fade bd-example-modal-lg show" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                        style="display: block; margin-top: 5%;" aria-modal="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
                                        eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
                                        laoreet rutrum faucibus dolor auctor.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    </div>


                        </div>

                        
                    </div>





                </div>
                
            </div>
            </body>
            
            {% endblock %}
