{% extends "tickets/base.html" %}

{% block content %}

    <script type="text/javascript" src="{{ url_for('.static',filename='scripts/scripts.js') }}"></script>

<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<div class="app-main" >
    
    
    
    <div class="app-main__outer">
        <div class="app-main__inner">
            
            <div class="row">
                
                <div class="col-lg-7">
                    <div class="main-card mb-3 card" >
                        <div class="card-body">
                            <div class="row">     
                                <div class="col-md-5">
                                    <h4>Total Open Tickets: {{tickets|length}}</h4>
                                </div>
                                <div class="col-md-3">
                                    <a href="{{ url_for('tickets_bp.new_ticket') }}"> <button class="mb-2 mr-2 btn btn-primary">New Ticket
                                        </button>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <div class="">
                                        <div  class="dataTables_filter">  
                                            <input id="table_search_input" type="search"
                                            class="form-control form-control-sm" placeholder="Search" aria-controls="example">
                                        </div>
                                    </div>
                                </div>
                                
                               
                            </div>

                                </div>
                                <div  class="scroll-area-lg">
                                    <div class="scrollbar-container ps--active-y ps">
                                        <table class="mb-0 table table-hover sortable" id="ticket_table_all">
                                            <thead>
                                                <tr>
                                                    <th><i class="fa fa-fire"></i></th>
                                                    <th>Ticket ID</th>
                                                    <th>Cat</th>
                                                    <th>Description</th>
                                                    <!-- <th>Status</th> -->
                                                    <th>Created</th>
                                                    <th>Assigned To</th>
                                                </tr>
                                            </thead>
                                            <tbody >
                                                {% for item in tickets %}
                                                <tr id="{{ item['ticket_id']}}" class='ticket_table'>
                                                    <td><i class="{{ 'fa fa-fire' if item['priority'] == 1 else ''}}"></i></td>
                                                    
                                                    <!-- <td><i class="fa fa-fire"></i></td> -->
                                                    <td>#{{ item['ticket_id']}}</td>
                                                    <td>{{ item['category']}}</td>
                                                    <td class="text-truncate" style="max-width: 150px;">{{ item['description']}}</td>
                                                    <!-- <td><div class="badge badge-warning">Completed</div></td> -->
                                                    <td>{{ item['date_created'].strftime('%m/%d/%Y')}}</td>
                                                    <td>{{ item['assigned']}}</td>
                                                    <td style="display: none;">{{ item['customer']}}</td>
                                                    <td style="display: none;">{{ item['created']}}</td>
                                                    <td style="display: none;">{{ item['description']}}</td>
                                                    <td style="display: none;">{{ item['subcategory']}}</td>
                                                    <td style="display: none;">{{ item['assembly']}}</td>
                                                    <td style="display: none;">{{ item['part_number']}}</td>
                                                </tr>
                                                
                                                {% endfor %}                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    
                    
                    <div id="ticket_detailed_info" class="col-lg-5 ticket-details-div">
                        <!-- Load the ticket data here -->
                    </div>
                    </div>
                </div>
                
            </div>
        </div>
        
        
        
    </div>
    
    
    
</div>

<!-- <script>
    $('tr.ticket_table').click(function () {
            var id = $(this).attr('id');
            alert(id);

        });
        </script> -->

{% endblock %}
