<p>A ticket you follow has been updated.</p>

<p ><strong>Ticket Update:</strong> <br>
    <i style="color: rgb(88, 88, 88);">{{update_message}}</i></p>

<p><strong>Ticket Details:</strong> </p>
<p>
    Ticket #:
    <br>
    <i style="color: rgb(88, 88, 88);">{{ticket_num}}</i>
    <br>Category - Subcategory:
    <br>
        <i style="color: rgb(88, 88, 88);">{{category}} - {{subcategory}}</i>
    <br>Assembly:
    <br>
    <i style="color: rgb(88, 88, 88);">{{assembly}}</i>
    <br>Part number:
    <br>
    <i style="color: rgb(88, 88, 88);">{{partnumber}}</i>
    <br>Work Order(s):
    <br>
    <i style="color: rgb(88, 88, 88);">{{workorder}}</i>
</p>


<p>This is an automated response. Your issue has been noted and we will be in touch soon. <br>
    - Engineering</p>


<p><br><strong>Do not reply to this email</strong> <br>
    If you no longer wish to receive these emails, please click 
    <a href="10.1.10.165:5000/user"><strong>here</strong></a>
    , and edit your email preferences by selecting "Edit Profile"</p>